{{ define "content"}}
<div id="loading" class="row">
    <div class="spinner-border ms-auto" aria-hidden="true"></div>
    <strong role="status">Loading...</strong>
</div>
<div class="row d-none" id="game">
    <div class="col-md" id="gameSection">
        <div class="d-flex flex-start align-items-center mb-2">
            <img class="rounded-circle shadow-1-strong me-3" src="static/img/profile-icon.gif" alt="avatar"
                width="40" height="40">
            <div>
                <h6 class="fw-bold text-success mb-1" id="opponentName"></h6>
            </div>
        </div>
        <div id="board"></div>
        <div class="d-flex flex-start align-items-center mt-2">
            <img class="rounded-circle shadow-1-strong me-3" src="static/img/profile-icon.gif" alt="avatar"
                width="40" height="40">
            <div>
                <h6 class="fw-bold text-success mb-1" id="playerName"></h6>
            </div>
        </div>
    </div>
    <div class="col-md" id="sideBar">
        <div id="result"></div>
        <button id="exitBtn" class="btn btn-danger">Resign</button>
        <button id="offerDrawBtn" class="btn btn-secondary">Offer Draw</button>
    </div>
</div>

<script src="static/js/wasm_exec.js"></script>
<script>
    const go = new Go();
    WebAssembly.instantiateStreaming(fetch("static/main.wasm"), go.importObject).then((result) => {
        go.run(result.instance);
    });
</script>

{{ end }}