{{ define "content"}}
<style>
@media(max-width:768px) {
    #standardBoard {
        display: none;
    }
}
</style>
<div class="col-md">
    <img id="standardBoard" src="static/img/standardboard.png" alt="Standard Board" width="496" height="496">
</div>
<div class="col-md text-center">
    <p class="h1 ">Play freeChess <br />Online <br /> on the #2 Site!</p>
    <div class="d-grid gap-4 col-6 mx-auto mt-4">
        <a href="/game?game_mode=online&duration=10" class="btn btn-success inline">
            <h3>Play Online</h3>play with someone at your level
        </a>
        <a href="/game?game_mode=offline&duration=5" class="btn btn-secondary">
            <h3>Play Computer</h3>play
        </a>
    </div>
</div>
{{ end }}